# DEV
.env
.idea
_ide_helper*.php
.phpstorm.meta.php

# BACK END
/vendor

# FRONT END
/node_modules
/npm-debug.log
/public/build
/resources/assets/css
/public/css
/public/js
/public/doc/sass
/public/media
/public/mix-manifest.json
