{
    "extends": "stylelint-config-standard",
    "ignoreFiles": ["./resources/assets/css/.compiled/*"],
    "rules": {
    	"indentation": 4,
    	"selector-pseudo-element-colon-notation": "single",
    	"number-leading-zero": "never"
    }
}