html {
  @include antialiasing(pixel);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color($gray, darkest);

  * {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2;

    &:after,
    &:before {
      box-sizing: border-box;
    }
  }
}

ul {
  list-style: none;
}

h1 {
  @include font-sans-light;
  margin-bottom: .5em;
  color: $white;
  text-transform: uppercase;
  font-size: setting($font-size, m);
  opacity: .75;
}

h2 {
  @include font-sans-black;
  color: $white;
  font-size: setting($font-size, default);
}

li {
  padding: .35vh 0;
  border-bottom: solid .1vw color($blue, lightest, .2);
}
