.github-file__title {
    color: color($blue, light);
    opacity: 1;

    font-size: setting($font-size, m);
    text-transform: uppercase;
}

.github-file__content {
    font-size: setting($font-size, s);
}
