.music {
  z-index: 1;
  height: 100%;
}

.music__icon {
  @include background-icon('/images/svg/music.svg');
}

.music__background {
  @at-root {
    @keyframes ken-burns {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.25);
      }

      100% {
        transform: scale(1);
      }
    }
  }
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  //animation: ken-burns 30s alternate infinite ease-in-out; // -> use only with a decent graphic card

  background-position: center;
  background-size: cover;
  opacity: .3;
  filter: blur(25px);
}

.music__content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.music__cover {
  flex-shrink: 0;
  margin: setting($grid, cell-padding);
  padding-bottom: 25%;
  width: 25%;
  border-radius: .25vw;
  background-color: rgba($white, .1);
  background-position: center;
  background-size: cover;
  box-shadow: 0 1px 10px rgba($black, .25);
}

.music__text {
  margin: setting($grid, cell-padding);
  max-width: 90%;
  transition: width .5s linear;
}

.music___artist {
  @include font-sans-black;
  font-size: setting($font-size, m);
}

.music__track {
  font-size: setting($font-size, xs);
}

.music__user {
  z-index: 3;
  display: inline-block;
  margin-top: 1em;
  padding: .25em .5em;
  border-radius: .25vw;
  background: rgba($black, .2);
  white-space: nowrap;
  font-size: setting($font-size, xs);

  &:before {
    @include icon('/images/svg/music.svg');
    margin-right: .25em;
  }
}
