.packagist-statistic {
    @include clearfix;
    @include mod(total) {
        font-size: setting($font-size, m);
    }
}

.packagist-statistics__period {
    @include font-sans;

    top: .1em;
    float: left;

    opacity: .5;

    font-size: setting($font-size, s);
    text-transform: uppercase;
}

.packagist-statistics__stars {
    &:before {
        @include icon('/svg/star.svg');
    }
}

.packagist-statistics__count {
    @include font-sans-black;

    float: right;
    vertical-align: top;

    color: color($yellow);
}
