.rain-forecast {
    @include mod(dry) {
        .rain-forecast__background {
            @include background-icon('/svg/forecast--dry.svg');
        }
    }
    @include mod(wet) {
        .rain-forecast__background {
            @include background-pattern('/svg/forecast--wet.svg');
        }
    }
    @include mod(rainy) {
        .rain-forecast__background {
            @include background-pattern('/svg/forecast--rainy.svg');
        }
    }

    background-color: color($blue, light, .25);
}

.rain-forecast__background {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.rain-forecast__graph {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.rain-forecast__title {
    z-index: 3;
}
