.rain-forecast {
    @include mod(dry) {
        background-color: color($blue, light, .25);

        .rain-forecast__icon {
            @include background-icon('/svg/forecast--dry.svg');
        }
    }
    @include mod(wet) {
        background-color: color($blue, light, .25);

        .rain-forecast__icon {
            @include background-pattern('/svg/forecast--wet.svg');
        }
    }
    @include mod(rainy) {
        background-color: color($blue, light, .25);
    }
}

.rain-forecast__graph {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.rain-forecast__title {
    @include mod(rainy) {
        &:before {
            @include icon('/svg/forecast--rainy.svg');

            margin-right: .15em;
        }
    }
}
