.rain-forecast {
    @include mod(dry) {
        .rain-forecast__background {
            @include background-icon('../svg/forecast--dry.svg');
        }

        .rain-forecast__title {
            color: color($gray);

            font-size: setting($font-size, xs);
            text-align: center;
            background-color: color($gray, darker);
            border-radius: .25vw;
        }
    }
    @include mod(wet) {
        background-color: color($blue, default, .6);

        .rain-forecast__background {
            @include background-pattern('../svg/forecast--wet.svg');
        }
    }
    @include mod(rainy) {
        background-color: color($blue, default, .6);

        .rain-forecast__background {
            @include background-pattern('../svg/forecast--rainy.svg');
        }
    }
}

.rain-forecast__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.rain-forecast__graph {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.rain-forecast__title {
    z-index: 3;
}
