.time-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-weather__content {
  text-align: center;
}

.time-weather__time {
  @include font-sans-light;
  display: block;
  padding: .1em 0;
  color: color($yellow);
  letter-spacing: .05em;
  font-size: setting($font-size, l);
  line-height: 1;
}

.time-weather__date {
  @include font-sans;
  display: block;
  color: color($gray, light);
  text-transform: uppercase;
  font-size: setting($font-size, m);
}

.time-weather__weather {
  @include font-sans;
  display: block;
  color: color($gray, light);
  font-size: setting($font-size, m);
}

.time-weather__weather__temperature {
  &:after {
    content: '°';
  }
}

.time-weather__weather__description {
  margin-left: .25em;
}