.uptime-monitor {
    @include mod(empty) {
        .uptime-monitor__empty {
            height: 100%;
        }

        .uptime-monitor__background {
            @include background-icon('../svg/uptime-monitor.svg');

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .uptime-monitor__title {
            z-index: 2;

            color: color($gray);
            background-color: color($gray, darker);
            border-radius: .25vw;

            font-size: setting($font-size, xs);
            text-align: center;
        }
    }
}

.uptime-monitor__title {
    color: $black;

    font-size: setting($font-size, m);
    text-transform: uppercase;
}

.uptime-monitor__notifications {
    font-size: setting($font-size, xs);
}

.uptime-monitor__notification {
    padding-bottom: 1.5vh;
    border-color: color($yellow, dark, .5);
}

.uptime-monitor__notification__title {
    @include font-sans-bold;
    @include ellipsis;

    color: $black;
}

.uptime-monitor__notification__time {
    font-size: setting($font-size, s);
    color: $black;
}
