* {
    position: relative;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

html {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    font-weight: var(--font-weight);
    font-style: normal;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

h1 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-m);
}

h2 {
    font-weight: var(--font-weight-black);
}

li {
    padding: 0.35vh 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
}
