.tweets {
    margin: calc(var(--grid-padding) * -1);
}

.tweets__icon {
    background-image: url('/images/svg/twitter.svg');
}

.tweet {
    margin-bottom: var(--grid-gap);
    padding: var(--grid-gap);
    border-radius: 0.25vw;
    background-color: var(--gray-darker);
    word-break: break-word;
}

.tweet--quoted {
    margin-top: var(--grid-gap);
    padding: var(--grid-gap) 0;
    border-top: dotted 2px rgba(255, 255, 255, 0.15);
}

.tweet__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.tweet__user {
    min-width: 0;
}

.tweet__user__handle {
    color: var(--gray-light);
    font-size: var(--font-size-xxs);
}

.tweet__user__name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxs);
    filter: grayscale(1);
}

.tweet__avatar {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 0.5vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.tweet__body--default {
    font-size: var(--font-size-s);
}

.tweet__body--small {
    font-size: var(--font-size-xxs);
}

.tweet__body--medium {
    font-size: var(--font-size);
}

.tweet__body--large {
    font-size: var(--font-size-m);
}

.tweet__body__handle {
    font-weight: var(--font-weight-black);
}

.tweet__body__hashtag {
    color: var(--gray-light);
}

.tweet__attachment {
    overflow: hidden;
    margin-top: var(--grid-gap);
    text-align: center;
    opacity: 0.75;
}

.tweet__attachment__image {
    max-width: 100%;
    max-height: 15vh;
    border-radius: 0.25vw;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.tweet__meta {
    margin-top: 0.5vw;
    color: var(--gray-light);
    font-size: var(--font-size-xxs);
}
