@mixin font-sans-light {
  font-weight: 300;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin font-sans {
  font-weight: 400;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin font-sans-bold {
  font-weight: 600;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin font-sans-black {
  font-weight: 900;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

$font-size: (
        base: 1.6vw,
        xxs: .65em,
        xs: .8em,
        s: .9em,
        default: 1em,
        m: 1.1em,
        l: 2em,
        xl: 3em,
        xxl: 4em,
);
