@mixin antialiasing($value: subpixel) {
  @if $value == subpixel {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  @if $value == pixel {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin background-icon($url) {
  height: 100%;
  background-image: url($url);
  background-position: center;
  background-size: #{(100/setting($grid, cols))*.5}vw;
  background-repeat: no-repeat;
  opacity: .2;
}

@mixin background-pattern($url) {
  height: 100%;
  background-image: url($url);
  background-position: center;
  background-size: #{(100/setting($grid, cols))*.5}vw;
  background-repeat: repeat;
  opacity: .2;
}

@mixin icon($url) {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url($url);
  background-position: center;
  background-size: 1em;
  background-repeat: no-repeat;
  content: '';
  vertical-align: middle;
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

@mixin tile-color($color) {
  background-color: $color;

  &:after {
    @include gradient-vertical(rgba($color, 0), rgba($color, 1));
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin gradient-vertical($start, $stop, $from: 0, $to: 100%) {
  background: -webkit-linear-gradient(top, $start $from, $stop $to);
  background: linear-gradient(to bottom, $start $from, $stop $to);
}

@mixin position-center-horizontal($position: absolute) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

@mixin position-center-vertical($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin position-center($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin mod($name) {
  &--#{$name} {
    @content;
  }
}
