.calendar__events {
    font-size: var(--font-size-xs);
}

.calendar__event {
    padding-bottom: 1.5vh;
}

.calendar__title {
    color: var(--blue-dark);
}

.calendar__event__attendees {
    color: var(--blue-dark);
}
