.internet-connection {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
}

.internet-connection__alert {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75em 1.5em;
    border-radius: 1em 1em 0 0;
    background-color: var(--red);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
    font-size: var(--font-size-m);
}

.internet-connection__icon {
    background-image: url('/images/svg/alert.svg');
    font-size: var(--font-size-l);
}

.internet-connection__text {
    padding-left: 0.5em;
    color: var(--red-lightest);
}
