.markup h1 {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: var(--color-dimmed);
}

.markup h2 {
    font-weight: 700;
}

.markup li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 1.25;
    border-bottom: 2px solid var(--color-canvas);
    padding: 0.35rem 0;
}

.markup li:first-child {
    padding-top: 0;
}

.markup li:last-child {
    border: 0;
}
