.markup h1 {
    @apply font-medium;
    @apply text-sm;
    @apply tracking-wide;
    @apply uppercase;
    @apply text-dimmed;
}

.markup h2 {
    @apply font-bold;
}

.markup li {
    @apply flex justify-between items-baseline;
    @apply leading-tight;
    @apply border-b-2 border-screen;
    padding: 0.35rem 0;
}

.markup li:first-child {
    @apply pt-0;
}

.markup li:last-child {
    @apply border-0;
}
