.music {
    z-index: 1;
}

.music__icon {
    background-image: url('/images/svg/music.svg');
}

.music__background {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    filter: blur(25px);
}

.music__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.music__cover {
    flex-shrink: 0;
    margin: var(--grid-gap);
    padding-bottom: 25%;
    width: 25%;
    border-radius: 0.25vw;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.music__text {
    margin: var(--grid-gap);
    max-width: 90%;
    transition: width 0.5s linear;
}

.music___artist {
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-m);
}

.music__track {
    font-size: var(--font-size-xs);
}

.music__user {
    z-index: 3;
    display: inline-block;
    margin-top: 1em;
    padding: 0.25em 0.5em;
    border-radius: 0.25vw;
    background: rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    font-size: var(--font-size-xs);
}

.music__user__icon {
    background-image: url(/images/svg/music.svg);

    margin-right: 0.25em;
}
