.uptime__background {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url('/images/svg/uptime.svg');
}

.uptime__title {
    text-transform: uppercase;
    font-size: var(--font-size-m);
}

.uptime__title--up {
    z-index: 2;
    border-radius: 0.25vw;
    text-align: center;
}

.uptime__notifications {
    font-size: var(--font-size-xs);
}

.uptime__notification {
    padding-bottom: 1.5vh;
    border-color: rgba(0, 0, 0, 0.2);
}

.uptime__notification__title {
    font-weight: var(--font-weight-bold);
}

.uptime__notification__time {
    font-size: var(--font-size-s);
}
