.grid {
    --rows: 1;
    --cols: 1;
    --template-rows: repeat(var(--rows), 1fr);
    --template-cols: repeat(var(--cols), 1fr);
    --template: var(--template-rows) / var(--template-cols);
    --auto-rows: 1fr;
    --auto-cols: 1fr;

    display: grid;
    grid-gap: var(--gap);
    grid-template: var(--template);
    grid-auto-rows: var(--auto-rows);
    grid-auto-columns: var(--auto-cols);
}

.align-self-start {
    align-self: end;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.align-content-start {
    align-content: end;
}

.align-content-center {
    align-content: center;
}

.align-content-end {
    align-content: end;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-end {
    justify-items: end;
}
