.time-weather {
    display: grid;
    grid-gap: .25em;
    justify-items: center;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
            "empty"
            "content"
            "timezone";
}

.time-weather__content {
    display: grid;
    grid-area: content;
    grid-gap: .25em;
    justify-items: center;
}

.time-weather__time {
    display: block;
    color: var(--yellow);
    letter-spacing: 0.05em;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-l);
    line-height: 1;
}

.time-weather__date {
    color: var(--gray-light);
    text-transform: uppercase;
    font-size: var(--font-size-xs);
}

.time-weather__weather {
    color: var(--gray-light);
    font-size: var(--font-size-m);
}

.time-weather__weather__temperature:after {
    content: '\00b0';
}

.time-weather__weather__description {
    margin-left: 0.25em;
}

.time-weather__time-zone {
    align-self: end;
    color: var(--yellow);
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    grid-area: timezone;
}
